.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
}

.track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;


  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

/* botones */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}
.slide{
  margin-bottom:30px;
}

.dot.active {
  background: white;
}