nav{    
    display:flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}
#botonMenu{
    background:none;
    border:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}
#listaLinks{
    display:none;
    flex-direction: column;    
    list-style-type: none;
    width: 200px;
    justify-content: space-evenly;
    color:black;    
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background: linear-gradient(135deg,#2b2b2b,#1c1c1c,#0f0f0f);
    border-radius: 5px;
}
#listaLinks.mostrar{
    display:flex;
}

#listaLinks li {
  width: auto;
  text-align: center;
  font-size: smaller;    
  text-size-adjust: auto;
  padding: 6px 2px;
  border-radius: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  color:white;
  font-weight: bold;
}

#listaLinks li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: auto;
}
#listaLinks li:hover {
  background-color: #00bfff;

  box-shadow:
    0 0 10px #00bfff,
    0 0 20px #00bfff;

  transform: translateY(-2px);
}
