#nosotrosh1{
    background: linear-gradient(rgb(255,216,122), rgb(255, 131, 0));
    padding-bottom: 5px;
    padding-top: 2px;
    margin: 5px 0px;
}
.slide{
    height: auto;
}
figcaption{
    background-color: black;
    font-size: small;
    padding: 5px;
    margin-top: -4px;
}